.blocksContainer {
    font-family: Courier New, Courier, Lucida Console, Monaco, monospace, Consolas;
    display: none;
}

    .blocksContainer div, span {
        vertical-align: top;
        display: inline;
    }

    .blocksContainer .block {
        display: inline-block;
        border-left: 1px inset lightgray;
        border-right: 1px inset lightgray;
        background-color: white;
        padding: 4px;
    }

    .blocksContainer .block_referernce {
        display: inline-block;
    }

    .blocksContainer .linenumber {
        font-weight: bold;
        color: lightsteelblue;
    }

    .blocksContainer .lines {
        display: block;
    }

    .blocksContainer .line {
        display: block;
        width: 100%;
        white-space: nowrap;
    }

    .blocksContainer .line_referernce {
        display: block;
    }

    .blocksContainer .emptyLine {
        min-width: 32px;
        background-color: lightgray;
        text-align: center;
    }

    .blocksContainer .statements {
        display: inline-block;
    }

    .blocksContainer .statement {
        display: inline-block;
    }

    .blocksContainer .expression {
    }

    .blocksContainer .component {
        display: block;
    }

    .blocksContainer .component_referernce {
        display: block;
    }

    .blocksContainer .constant .property {
        font-weight: bold;
    }

    .blocksContainer .constant {
        color: #b200ff;
    }

    .blocksContainer .property {
        color: #0094ff;
    }

    .blocksContainer .property_reference {
    }

    .blocksContainer .titlepart {
        display: inline;
        font-style: italic;
        color: cornflowerblue;
    }

    .blocksContainer .parameter {
    }

    .blocksContainer .arguments {
    }

    .blocksContainer .argument {
    }

    .blocksContainer .returns {
    }

    .blocksContainer .return {
    }

    .blocksContainer.active {
        display: block;
    }

/***** CODE EDITOR CONTAINERS *****/

.codeContainer {
    font-family: Courier New, Courier, Lucida Console, Monaco, monospace;
    display: none;
}

    .codeContainer.active {
        display: block;
    }

/***** TREE VIEW *****/

.tree {
    min-height: 128px;
    overflow: auto;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative;
        white-space: nowrap;
        max-width: 300px;
    }

        .tree li::before, .tree li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto;
        }

        .tree li::before {
            border-left: 1px solid #999;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
        }

        .tree li::after {
            border-top: 1px solid #999;
            height: 20px;
            top: 25px;
            width: 25px;
        }

        .tree li span {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #5f9eeb;
            display: inline-block;
            padding: 3px 8px;
            text-decoration: none;
            cursor: pointer;
        }

            .tree li span::before {
                content: "";
                padding-right: 6px;
                font-family: "Glyphicons Halflings";
                font-weight: normal;
                font-size: 12px;
                color: #000;
            }

            .tree li span.object {
                -moz-border-radius: 25px;
                -webkit-border-radius: 25px;
                border-radius: 25px;
            }

            .tree li span.op::before {
                content: "[Op]";
            }

            .tree li span.Comment::before {
                content: "\e111";
            }

            .tree li span.ControlFlow::before {
                content: "\e110";
            }

            .tree li span.CodeBlock::before {
                content: "\e032";
            }

            .tree li span.Functional::before {
                content: "\e012";
            }

            .tree li span.Text::before {
                content: "\e241";
            }

            .tree li span.Code::before {
                content: "\e022";
            }

            .tree li span.Event::before {
                content: "\e162";
            }

    .tree > ul > li::before, .tree > ul > li::after {
        border: 0;
    }

    .tree li:last-child::before {
        height: 30px;
    }

    .tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span, .tree li > span:hover {
        background: #6fb0ff;
        border: 1px solid #6aa6ef;
        color: #264070;
        font-weight: bold;
    }

    .tree li.parent_li {
    }

        .tree li.parent_li > span + ul::before {
            content: "\e252";
            position: absolute;
            margin: -5px 0 0 -25px;
            font-family: "Glyphicons Halflings";
            font-weight: normal;
            font-size: 10px;
            color: #999;
        }
